body {
  --bs-body-font-family: "Open Sans", sans-serif;
}

.blurred-background {
  -webkit-filter: blur(10px);
  filter: blur(10px);
}

.background-image {
  background-image: url("src/assets/bg.png");
  background-size: 100% 100%;
  z-index: -1;
}

.black-fill {
  background-color: black;
  z-index: -1;
}

.event-logo {
  max-width: 778px !important;
}

.lead-title {
  font-size: 0.75em;
  line-height: 1.375em;
}

h1 {
  font-size: 1.5em !important;
  line-height: 2em;
}

hr {
  opacity: 0.1 !important;
}

.dotted {
  border-style: dotted;
}

.form-label {
  font-size: 1.125em !important;
}

input {
  background-color: #fcfcfd !important;
  padding: 10px 18px !important;
}

::placeholder {
  color: #000 !important;
  opacity: 0.3 !important;
}

:-ms-input-placeholder,
::-ms-input-placeholder {
  color: #000 !important;
  opacity: 0.3 !important;
}

.btn {
  background-color: #ff6b00 !important;
}

.btn-add-participant {
  border-radius: 70px !important;
  padding: 20px 34px !important;
}

.name {
  font-size: 1.125em !important;
}

.btn-submit {
  border-style: none !important;
  border-radius: 0px !important;
  padding: 34px !important;
}

button.btn[disabled] {
  background-color: #acacac !important;
}
